@model IEnumerable<Plantilla.Models.Tour>


@{
    Layout = "~/Views/Shared/_LayoutDentro.cshtml";
}



@foreach (var item in Model)
{



    <div class="infocardContainer">
        <div id="main">
            <img src="@Url.Action("convertirImagen", "Tour", new {idTour = item.idTour})"></img>
        </div>
        <div id="textbois">
            <h2>Tour</h2>
            <h4>@Html.DisplayFor(modelItem => item.descripcion)</h4>
            <a href="#">Check-In / Check-Out</a>
            <a href="#">@Html.DisplayFor(modelItem => item.fechaCheckIn)-@Html.DisplayFor(modelItem => item.horaSalida) / @Html.DisplayFor(modelItem => item.fechaCheckOut)-@Html.DisplayFor(modelItem => item.horaRegreso)</a>
            <div id="hotlinks">
                <a href="https://codepen.io/LIMESTA">
                    <img id="codepenio" src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png" target="_blank"></img>
                </a>
                <a href="https://codepen.io/LIMESTA">
                    <img id="codepenio" src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png" target="_blank"></img>
                </a>
                <a href="https://codepen.io/LIMESTA">
                    <img id="codepenio" src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Small.png" target="_blank"></img>
                </a>
            </div>
        </div>
    </div>

}




































 















