@{
    ViewBag.Title = "SinLogin";
    Layout = "~/Views/Shared/_LayoutLogOut.cshtml";
}
<div class="container mt-5">


    <!--Section: Content-->
    <section class="">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5 col-md-12 mb-lg-0 mb-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-1 mb-lg-0 mb-4">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/52.jpg" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7 col-md-6 mb-md-0 mb-4 mt-xl-4">

                <h3 class="font-weight-normal mb-4">Convert your visitors to real customers</h3>
                <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
                <a class="btn btn-outline-primary mx-0" href="#">Read More <i class="fas fa-arrow-right fs-9 ml-2"></i></a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Content-->


</div>
<div class="container my-5">


    <!--Section: Content-->
    <section class="text-center">

        <!-- Section heading -->
        <h3 class="font-weight-bold dark-grey-text pb-2 mb-4">Our pricing plans</h3>
        <!-- Section description -->
        <p class="text-muted w-responsive mx-auto mb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
            eum porro a pariatur veniam.
        </p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

                <!-- Card -->
                <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

                    <!-- Pricing card -->
                    <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">

                        <!-- Content -->
                        <div class="card-body">
                            <h5>Basic</h5>

                            <!-- Price -->
                            <div class="price pt-0">
                                <h2 class="number mb-0">10</h2>
                            </div>

                            <ul class="striped mb-0">
                                <li>
                                    <p><strong>1</strong> project</p>
                                </li>
                                <li>
                                    <p><strong>100</strong> components</p>
                                </li>
                                <li>
                                    <p><strong>150</strong> features</p>
                                </li>
                                <li>
                                    <p><strong>200</strong> members</p>
                                </li>
                                <li>
                                    <p><strong>250</strong> messages</p>
                                </li>
                            </ul>
                            <a class="btn btn-outline-white">Buy now</a>

                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Pricing card -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

                <!-- Card -->
                <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

                    <!-- Pricing card -->
                    <div class="text-white text-center pricing-card d-flex align-items-center rgba-teal-strong py-3 px-3 rounded">

                        <!-- Content -->
                        <div class="card-body">
                            <h5>Pro</h5>

                            <!-- Price -->
                            <div class="price pt-0">
                                <h2 class="number mb-0">20</h2>
                            </div>

                            <ul class="striped mb-0">
                                <li>
                                    <p><strong>3</strong> project</p>
                                </li>
                                <li>
                                    <p><strong>200</strong> components</p>
                                </li>
                                <li>
                                    <p><strong>250</strong> features</p>
                                </li>
                                <li>
                                    <p><strong>300</strong> members</p>
                                </li>
                                <li>
                                    <p><strong>350</strong> messages</p>
                                </li>
                            </ul>
                            <a class="btn btn-outline-white">Buy now</a>

                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Pricing card -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

                <!-- Card -->
                <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

                    <!-- Pricing card -->
                    <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">

                        <!-- Content -->
                        <div class="card-body">
                            <h5>Enterprise</h5>

                            <!-- Price -->
                            <div class="price pt-0">
                                <h2 class="number mb-0">30</h2>
                            </div>

                            <ul class="striped mb-0">
                                <li>
                                    <p><strong>5</strong> project</p>
                                </li>
                                <li>
                                    <p><strong>300</strong> components</p>
                                </li>
                                <li>
                                    <p><strong>350</strong> features</p>
                                </li>
                                <li>
                                    <p><strong>400</strong> members</p>
                                </li>
                                <li>
                                    <p><strong>450</strong> messages</p>
                                </li>
                            </ul>
                            <a class="btn btn-outline-white"> Buy now</a>

                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Pricing card -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Content-->


</div>
<div class="container mt-5">


    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text">

        <!-- Section heading -->
        <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
            eum porro a pariatur veniam.
        </p>

        <!--Grid row-->
        <div class="row text-center">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <!--Content-->
                    <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
                    <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
                    <p class="font-weight-normal dark-grey-text">
                        <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                        eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                    </p>
                    <!--Review-->
                    <div class="orange-text">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star-half-alt"> </i>
                    </div>
                </div>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <!--Content-->
                    <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
                    <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
                    <p class="font-weight-normal dark-grey-text">
                        <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
                        corporis suscipit laboriosam, nisi ut aliquid commodi.
                    </p>
                    <!--Review-->
                    <div class="orange-text">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                    </div>
                </div>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <!--Content-->
                    <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
                    <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
                    <p class="font-weight-normal dark-grey-text">
                        <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque corrupti.
                    </p>
                    <!--Review-->
                    <div class="orange-text">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="far fa-star"> </i>
                    </div>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Content-->


</div>